name: Mirror to GitLab

on:
  push:
    branches: [main, development]
  delete:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Mirror Repository
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url: https://oauth2:${{ secrets.GITLAB_MIRROR_TOKEN }}@gitlab.com/shaishab316/getavails-server.git
          force_push: true
